<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-thumbnail class="logo"
    slot="start"
    >
      <img src="../../assets/logo-tenis-mouraoense.png"/>
    </ion-thumbnail>
    <ion-buttons slot="end" (click)="openAddTenista()">
      <ion-button id="add-tenista" color="light">
        <ion-icon slot="start" name="person-add"></ion-icon>
        Cadastrar Tenista
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openLogOut()">
      <ion-button id="open-logout" color="light">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Log-Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-ranking-adm [class]="classe"> </app-ranking-adm>

  <app-login-screen> </app-login-screen>
</ion-content>
