<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" color="dark" (click)="close()" slot="start">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button
      color="primary"
      (click)="edit()"
      slot="end"
      *ngIf="action === 'buscar'"
    >
      <ion-icon name="create"></ion-icon>
      Editar
    </ion-button>
    <ion-button
      color="warning"
      (click)="save()"
      slot="end"
      *ngIf="action === 'editar'"
    >
      <ion-icon name="checkmark"></ion-icon>
      Salvar
    </ion-button>
    <ion-button color="danger" (click)="delete()" slot="end">
      <ion-icon name="trash"></ion-icon>
      Deletar
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item fill="clear">
    <ion-icon name="person"></ion-icon>
    <ion-input
      placeholder="Nome do tenista"
      value="{{ tenista[0].nomeTenista }}"
      class="input"
      type="text"
      (ionInput)="handleInput($event, 'name')"
      readonly="{{ !editing }}"
    ></ion-input>
  </ion-item>
  <ion-item fill="clear" *ngIf="action === 'buscar'">
    <ion-icon name="person"></ion-icon>
    <ion-input
      placeholder="Sexo do tenista"
      value="{{ tenista[0].sexo === 'M' ? 'Masculino' : 'Feminino' }}"
      class="input"
      type="text"
      readonly="true"
    ></ion-input>
  </ion-item>
  <ion-item fill="clear" *ngIf="editing">
    <ion-icon name="person"></ion-icon>
    <ion-select
      value="{{ tenista[0].sexo }}"
      placeholder="Sexo do jogador"
      (ionChange)="onChange($event)"
    >
      <ion-select-option value="M">Masculino</ion-select-option>
      <ion-select-option value="F">Feminino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item fill="clear" *ngIf="action === 'buscar'">
    <ion-icon name="person"></ion-icon>
    <ion-input
      placeholder="Classe"
      value="{{ tenista[0].classe_sigla }}"
      class="input"
      type="text"
      readonly="true"
    ></ion-input>
  </ion-item>
  <ion-item fill="clear" *ngIf="editing">
    <ion-icon name="log-in"></ion-icon>
    <ion-select
      value="{{ tenista[0].classe_sigla }}"
      placeholder="Classe"
      (ionChange)="onChange($event)"
    >
      <ion-select-option
        *ngFor="let class of getClasses()"
        value="{{ class }}"
        >{{ class }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item-divider><h3>Pontuação:</h3></ion-item-divider>
  <ion-item fill="clear">
    <ion-label>Etapa 1:</ion-label>
    <ion-input
      placeholder="0"
      value="{{ pontuacao[0] }}"
      class="input"
      type="text"
      (ionInput)="handleInput($event, 'etapa1')"
      readonly="{{ !editing }}"
    ></ion-input>
  </ion-item>
  <ion-item fill="clear">
    <ion-label>Etapa 2:</ion-label>
    <ion-input
      placeholder="0"
      value="{{ pontuacao[1] }}"
      class="input"
      type="text"
      (ionInput)="handleInput($event, 'etapa2')"
      readonly="{{ !editing }}"
    ></ion-input>
  </ion-item>
  <ion-item fill="clear">
    <ion-label>Etapa 3:</ion-label>
    <ion-input
      placeholder="0"
      value="{{ pontuacao[2] }}"
      class="input"
      type="text"
      (ionInput)="handleInput($event, 'etapa3')"
      readonly="{{ !editing }}"
    ></ion-input>
  </ion-item>
  <ion-item fill="clear">
    <ion-label>Etapa 4:</ion-label>
    <ion-input
      placeholder="0"
      value="{{ pontuacao[3] }}"
      class="input"
      type="text"
      (ionInput)="handleInput($event, 'etapa4')"
      readonly="{{ !editing }}"
    ></ion-input>
  </ion-item>
</ion-content>
