<ion-header>
  <div class="header-img">
    <ion-img class="logo"
    src="../../assets/logo-tenis-mouraoense.png"
    >
    </ion-img>
  </div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="masculino">
        Masculino
      </ion-button>
      <ion-popover trigger="masculino" triggerAction="hover">
        <ng-template>
            <ion-item>
              1ª Classe Masculina
            </ion-item>
            <ion-item>
              2ª Classe Masculina
            </ion-item>
            <ion-item>
              3ª Classe Masculina
            </ion-item>
            <ion-item>
              4ª Classe Masculina
            </ion-item>
        </ng-template>
      </ion-popover>
      <ion-button id="feminino">
        Feminino
      </ion-button>
      <ion-popover trigger="feminino" triggerAction="hover">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-item>
              1ª Classe Feminina
            </ion-item>
            <ion-item>
              2ª Classe Feminina
            </ion-item>
            <ion-item>
              3ª Classe Feminina
            </ion-item>
            <ion-item>
              4ª Classe Feminina
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-button id="infantil">
        Infantil
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="!isLogado" slot="end">
      <ion-button id="open-login">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Log-In
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="isLogado" slot="end" (click)="logOut()">
      <ion-button>
        <ion-icon slot="start" name="log-out"></ion-icon>
        Log-Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ranking>
  </app-ranking>

  <app-login-screen>
  </app-login-screen>
</ion-content>


