<ion-header no-border>
  <ion-item class="toolbar">
    <ion-thumbnail class="logo"
    slot="start"
    >
      <img src="../../assets/logo-tenis-mouraoense.png"/>
    </ion-thumbnail>
    <ion-buttons *ngIf="!isLogado" slot="end">
      <ion-button id="open-login">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Log-In
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content>
  <app-ranking [class]="classe">
  </app-ranking>

  <app-login-screen>
  </app-login-screen>
</ion-content>


