.header-img{
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://reviewed-com-res.cloudinary.com/image/fetch/s--UJ2sGByA--/b_white,c_limit,cs_srgb,f_auto,fl_progressive.strip_profile,g_center,q_auto,w_972/https://reviewed-production.s3.amazonaws.com/1597356287543/GettyImages-1171084311.jpg);
}